<web-app>
<servlet>
<servlet-name>gs</servlet-name>
<servlet-class>info.inetsolv.GrossServlet</servlet-class>
</servlet>
<servlet>
<servlet-name>ns</servlet-name>
<servlet-class>info.inetsolv.NetServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>gs</servlet-name>
<url-pattern>/gross</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>ns</servlet-name>
<url-pattern>/net</url-pattern>
</servlet-mapping>
</web-app>