<web-app>
<servlet>
<servlet-name>rs</servlet-name>
<servlet-class>info.inetsolv.ReadServlet</servlet-class>
<init-param>
<param-name>sname</param-name>
<param-value>ajay</param-value>
</init-param>
<init-param>
<param-name>srno</param-name>
<param-value>23</param-value>
</init-param>
<init-param>
<param-name>smarks</param-name>
<param-value>99</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>rs</servlet-name>
<url-pattern>/read</url-pattern>
</servlet-mapping>







</web-app>