<web-app>
<servlet>
<servlet-name>fs</servlet-name>
<servlet-class>info.inetsolv.FirstServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>fs</servlet-name>
<url-pattern>/first</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ss</servlet-name>
<servlet-class>info.inetsolv.SecondServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ss</servlet-name>
<url-pattern>/second</url-pattern>
</servlet-mapping>
</web-app>
