<web-app>
<servlet>
<servlet-name>hs</servlet-name>
<servlet-class>info.inetsolv.HelloServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>hs</servlet-name>
<url-pattern>/hello</url-pattern>
</servlet-mapping>
<filter>
<filter-name>hf</filter-name>
<filter-class>info.inetsolv.HelloFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>hf</filter-name>
<url-pattern>/hello</url-pattern>
</filter-mapping>
</web-app>