<web-app>
<servlet>
<servlet-name>rs</servlet-name>
<servlet-class>info.inetsolv.RegisterServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>rs</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>ls</servlet-name>
<servlet-class>info.inetsolv.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>ls</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>out</servlet-name>
<servlet-class>info.inetsolv.LogoutServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>out</servlet-name>
<url-pattern>/logout</url-pattern>
</servlet-mapping>
</web-app>